.mat-toolbar {
	-webkit-app-region: drag;
	padding: 0 0.5rem 0 1.4rem;
	height: 80px;
	overflow: hidden;

	h1 {
		float: left;
    width: 48px;
    height: 48px;
    text-indent: -999em;
    background: url(../../../../assets/icons/icon_x48.png) 0 0 no-repeat;
    background-size: auto 100%;
	}

	.links {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		margin-left: 25px;
		.active {
			color: #faa933 !important;
			background-color: #faaa331e;
		}
	}

	.options {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		.button-text {
			text-transform: capitalize;
			font-size: 1.2rem;
		}
	}

	.navlink {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		padding: 15px;
		font-weight: 400;
		text-transform: capitalize;
		font-size: 1.3rem;
	}

	.fill-space {
		flex: 1 1 auto; // Fill space between two icons
	}

	.auth {
		border: 2px solid #faa933;
		transform: scale(0.9);
	}

	.login-icon {
		margin-right: 10px;
	}

}