<mat-toolbar class="header" color="primary" role="heading" fxLayout="row">

	<a routerLink="/">
		<h1>Conceal Network</h1>
	</a>

	<div class="links" fxLayoutGap="10px">
		<button class="navlink" mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">news</button>
		<button class="navlink" mat-button routerLink="/wallets" routerLinkActive="active">Wallets</button>
		<button class="navlink" mat-button routerLink="/deposits" routerLinkActive="active">Deposits</button>
		<!-- future updates
		<button class="navlink" mat-button routerLink="/id" routerLinkActive="active">@ID</button>
		<button class="navlink" mat-button routerLink="/pay" routerLinkActive="active">Pay</button>
		<button class="navlink" mat-button routerLink="/bridge" routerLinkActive="active">Bridge</button>
		<button class="navlink" mat-button routerLink="/live" routerLinkActive="active">Live</button>
		<button class="navlink" mat-button routerLink="/explorer" routerLinkActive="active">Explorer</button>
	 	-->
	</div>

	<span class="fill-space"></span>

	<div class="options" fxLayoutGap="15px">
		<button *ngIf="isLoggedIn" mat-icon-button aria-label="logout" (click)="logout()">
			<mat-icon aria-hidden="false">logout</mat-icon>
		</button>
		<button *ngIf="!isLoggedIn" mat-icon-button aria-label="login" (click)="login()">
			<mat-icon aria-hidden="false">login</mat-icon>
		</button>
		<button *ngIf="activeTheme == 'light-theme'" mat-icon-button mdTooltip="Change theme" (click)="changeTheme('dark-theme')">
			<mat-icon aria-hidden="false">dark_mode</mat-icon>
		</button>
		<button *ngIf="activeTheme == 'dark-theme'" mat-icon-button mdTooltip="Change theme" (click)="changeTheme('light-theme')">
			<mat-icon aria-hidden="false">light_mode</mat-icon>
		</button>
		<button mat-icon-button aria-label="login" routerLink="/settings" routerLinkActive="active">
			<mat-icon aria-hidden="false">settings</mat-icon>
		</button>
	</div>

</mat-toolbar>