.mat-toolbar {
	-webkit-app-region: drag;
	padding: 0 1.5rem 0 1.5rem;
	height: 80px;
	overflow: hidden;

	h1 {
		float: left;
    width: 48px;
    height: 48px;
    text-indent: -999em;
    background: url(../../../../assets/icons/icon_x48.png) 0 0 no-repeat;
    background-size: auto 100%;
	}

	.links {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		margin-left: 35px;
		.active {
			color: #faa933 !important;
			border-bottom: 2px solid #faa933;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}

	.options {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		.button-text {
			margin-left: 0.6rem;
			text-transform: uppercase;
			font-size: 1.1rem;
		}
	}

	.navlink {
		-webkit-app-region: no-drag;
		-webkit-user-select: none;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.3rem;
	}

	.fill-space {
		flex: 1 1 auto; // Fill space between two icons
	}

}