<mat-toolbar class="header" fxLayout="row" color="primary">

	<a routerLink="/home">
		<h1>Conceal Network</h1>
	</a>

	<div class="links" fxHide fxShow.gt-sm>
		<a class="btn" routerLink="/">
			<button mat-button class="navlink" routerLinkActive="active">Home</button>
		</a>
		<a class="btn" routerLink="/wallet">
			<button mat-button class="navlink" routerLinkActive="active">Wallet</button>
		</a>
		<a class="btn" routerLink="/deposits">
			<button mat-button class="navlink" routerLinkActive="active">Deposits</button>
		</a>
		<a class="btn" routerLink="/live">
			<button mat-button class="navlink" routerLinkActive="active">Live</button>
		</a>
		<a class="btn" routerLink="/id">
			<button mat-button class="navlink" routerLinkActive="active">ID</button>
		</a>
		<a class="btn" routerLink="/pay">
			<button mat-button class="navlink" routerLinkActive="active">Pay</button>
		</a>
		<a class="btn" routerLink="/bridge">
			<button mat-button class="navlink" routerLinkActive="active">Bridge</button>
		</a>
		<a class="btn" routerLink="/explorer">
			<button mat-button class="navlink" routerLinkActive="active">Explorer</button>
		</a>
	</div>

	<span class="fill-space"></span>

	<div class="login">
		<button mat-icon-button aria-label="login" routerLink="/settings" routerLinkActive="active">
			<mat-icon>settings</mat-icon>
		</button>
	</div>

</mat-toolbar>