// Fix toolbar to the top and make it 55px in height
header {

	.mat-toolbar {
    background: none;
		color: #fff;
	}

	.title {
		font-size: 1rem;
	}

	.fill-space {
		flex: 1 1 auto; // Fill space between two icons
	}

}