<header class="footer">
	<mat-toolbar color="primary">

		<h2 class="title">Good Afternoon</h2>

		<span class="fill-space"></span>

		<div fxLayoutGap="5px">
			<button *ngIf="isLoggedIn" mat-icon-button aria-label="logout" (click)="logout()">
				<mat-icon>logout</mat-icon>
			</button>
			<button *ngIf="activeTheme == 'light-theme'" mat-icon-button mdTooltip="Change theme" (click)="changeTheme('dark-theme')">
				<mat-icon>dark_mode</mat-icon>
			</button>
			<button *ngIf="activeTheme == 'dark-theme'" mat-icon-button mdTooltip="Change theme" (click)="changeTheme('light-theme')">
				<mat-icon>light_mode</mat-icon>
			</button>
		</div>

	</mat-toolbar>
</header>