<header class="footer">
	<mat-toolbar class="mat-elevation-z4">

		<h2 class="title">{{pageTitle}}</h2>

		<span class="fill-space"></span>

		<div class="settings" fxLayoutGap="5px">
			<button mat-icon-button [matMenuTriggerFor]="menu" mdTooltip="Change theme">
				<mat-icon>format_color_fill</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="changeTheme('light-theme')">Light</button>
				<button mat-menu-item (click)="changeTheme('dark-theme')">Dark</button>
			</mat-menu>
			<button mat-icon-button aria-label="login">
				<mat-icon>login</mat-icon>
			</button>
		</div>

	</mat-toolbar>
</header>