// Fix toolbar to the top and make it 55px in height
header {

	.mat-toolbar {
    background: rgba($color: #000000, $alpha: 0);
		height: 50px;
		padding-top: 10px;
	}

	.title {
		font-size: 1.4rem;
	}

	.fill-space {
		flex: 1 1 auto; // Fill space between two icons
	}

}