<header class="footer">
	<mat-toolbar class="mat-elevation-z5" color="primary">

		<h2 class="title">{{pageTitle}}</h2>

		<span class="fill-space"></span>

		<div class="settings" fxLayoutGap="5px">
			<button *ngIf="activeTheme == 'dark-theme'" mat-icon-button mdTooltip="Change theme" (click)="changeTheme('light-theme')">
				<mat-icon>dark_mode</mat-icon>
			</button>
			<button *ngIf="activeTheme == 'light-theme'" mat-icon-button mdTooltip="Change theme" (click)="changeTheme('dark-theme')">
				<mat-icon>light_mode</mat-icon>
			</button>
		</div>

	</mat-toolbar>
</header>