<mat-card id="cards" class="mat-elevation-z6">

	<mat-card-header fxLayout="column">
		<div fxLayout="row" class="controls" fxLayoutAlign="center center">
			<mat-form-field color="accent" fxFlex="auto" class="filter" appearance="standard">
				<mat-label class="searchbox">Search Transactions</mat-label>
				<input matInput (keyup)="applyFilter($event)" placeholder="" [disabled]="isRefreshingResults || isLoadingResults">
				<mat-icon color="accent" matSuffix>search</mat-icon>
			</mat-form-field>
		</div>
	</mat-card-header>

	<mat-card-content fxLayout="column">
		<mat-progress-bar color="accent" mode="indeterminate" *ngIf="isRefreshingResults"></mat-progress-bar>
		<table class="transactions" mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="timestamp" matSortDirection="desc">

			<!-- timestamp column -->
			<ng-container matColumnDef="timestamp">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
				<td mat-cell *matCellDef="let row">
					<div fxLayout="row" fxLayoutAlign="start center">
						<mat-icon class="icon" *ngIf="!isSmallScreen" aria-hidden="true">event</mat-icon>
						{{getHelperService().formatDatetime(row.timestamp)}}
					</div>
				</td>
			</ng-container>

			<!-- status column {'success': (row.status === 'processed'), 'warn': (row.status !== 'processed')} -->
			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
				<td mat-cell *matCellDef="let row">
					<div fxLayout="row" fxLayoutAlign="start center" class="capitalize">
						<mat-icon class="icon" *ngIf="row.status === 'processed'" color="accent" aria-hidden="true">gpp_good</mat-icon>
						<mat-icon class="icon" *ngIf="row.status !== 'processed'" color="warn" aria-hidden="true">report</mat-icon>
						{{row.status}}
					</div>
				</td>
			</ng-container>

			<!-- type column -->
			<ng-container matColumnDef="type">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Direction</th>
				<td mat-cell *matCellDef="let row">
					<div fxLayout="row" fxLayoutAlign="start center" class="capitalize">
						<mat-icon class="icon" *ngIf="row.type === 'sent'" color="warn" aria-hidden="true">call_made</mat-icon>
						<mat-icon class="icon" *ngIf="row.type === 'received'" color="accent" aria-hidden="true">call_received</mat-icon>
						{{row.type}}
					</div>
				</td>
			</ng-container>

			<!-- address column -->
			<ng-container matColumnDef="address">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
				<td mat-cell *matCellDef="let row" class="uppercase">{{ this.getHelperService().formatAddress(row.address) }}</td>
			</ng-container>

			<!-- amount column -->
			<ng-container matColumnDef="amount">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
				<td mat-cell *matCellDef="let row">{{getHelperService().formatAmount(row.amount, 1, 6)}} CCX</td>
			</ng-container>

			<!-- fee column -->
			<ng-container matColumnDef="fee">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Fee</th>
				<td mat-cell *matCellDef="let row">{{getHelperService().formatAmount(row.fee, 1, 6)}} CCX</td>
			</ng-container>

			<tr mat-header-row class="header" *matHeaderRowDef="displayedColumns;"></tr>
			<tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="openExplorer(row.hash)"></tr>

		</table>

		<div class="loading" *ngIf="isLoadingResults" fxLayout="row" fxLayoutAlign="center center">
			<mat-spinner class="spin" color="accent"></mat-spinner>
		</div>

	</mat-card-content>

	<mat-card-actions fxLayout="column" fxLayoutAlign="stretch" >
		<mat-paginator color="accent" class="mat-paginator" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</mat-card-actions>

</mat-card>