<mat-card class="mat-elevation-z6">

	<mat-card-header fxLayout="column">
		<div fxLayout="row" class="controls" fxLayoutAlign="center center">
			<mat-form-field color="accent" fxFlex="auto" class="filter" appearance="standard">
				<mat-label>Search Transactions</mat-label>
				<input matInput (keyup)="applyFilter($event)" placeholder="" [disabled]="isRefreshingResults || isLoadingResults">
				<mat-icon color="accent" matSuffix>search</mat-icon>
			</mat-form-field>
		</div>
	</mat-card-header>

	<mat-card-content fxLayout="column">
		<mat-progress-bar color="accent" mode="indeterminate" *ngIf="isRefreshingResults"></mat-progress-bar>
		<table [dataSource]="dataSource" mat-table matSort matSortDisableClear matSortActive="timestamp" matSortDirection="desc">

			<!-- timestamp Column -->
			<ng-container matColumnDef="timestamp">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
				<td mat-cell *matCellDef="let row">{{getHelperService().formatDatetime(row.timestamp)}}</td>
			</ng-container>

			<!-- status Column -->
			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
				<td mat-cell *matCellDef="let row" class="capitalize">
					<span [ngClass]="{'processed': (row.status === 'processed'), 'notprocessed': (row.status !== 'processed')}">{{row.status}}</span>
				</td>
			</ng-container>

			<!-- type Column -->
			<ng-container matColumnDef="type">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Direction</th>
				<td mat-cell *matCellDef="let row" class="capitalize">{{row.type}}</td>
			</ng-container>

			<!-- amount Column -->
			<ng-container matColumnDef="amount">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
				<td mat-cell *matCellDef="let row">{{getHelperService().formatAmount(row.amount, 1, 6)}} CCX</td>
			</ng-container>

			<!-- fee Column -->
			<ng-container matColumnDef="fee">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Fee</th>
				<td mat-cell *matCellDef="let row">{{getHelperService().formatAmount(row.fee, 1, 6)}} CCX</td>
			</ng-container>

			<tr mat-header-row class="header" *matHeaderRowDef="displayedColumns; sticky: false"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>

		<div class="loading" *ngIf="isLoadingResults" fxLayout="row" fxLayoutAlign="center center">
			<mat-spinner class="spin" color="accent"></mat-spinner>
		</div>

	</mat-card-content>

	<mat-card-actions fxLayout="column" fxLayoutAlign="stretch" >
		<mat-paginator color="accent" class="mat-paginator" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	</mat-card-actions>

</mat-card>