.mat-card {
	padding: 5px;
	.mat-card-header {
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.mat-card-content {
		padding: 0;
		margin: 0;
	}

	.mat-card-actions {
		padding: 0;
		margin: 0;
	}
}

.mat-table {
	.header {
		background-color: rgba($color: #000000, $alpha: 0.15);
	}
	.mat-row {
		cursor: pointer;
	}
	.mat-row:hover {
		background-color: #5e5e5e;
	}
	.mat-cell.mat-column-address, .mat-cell.mat-column-type {
		text-transform: uppercase;
	}
	.capitalize {
		text-transform: capitalize;
	}
	.icon {
		position: relative;
		/* Adjust these values accordingly */
    top: 7px;
    right: 5px;
	}
}


.mat-paginator {
	background: none;
}

.loading {
	.spin {
		transform: scale(0.6);
	}
}

.controls {
	.filter {
		font-size: 1.2rem;
	}
}

