<mat-card class="signup mat-elevation-z6">

	<mat-card-header fxLayout="column" fxLayoutGap="5px">
		<h2 class="title">Sign Up</h2>
	</mat-card-header>

	<mat-card-content fxLayout="column" fxLayoutGap="25px">

		<form [formGroup]="form" fxLayout="column" fxLayoutGap="15px">

			<mat-form-field fxFill hintLabel="New username" appearance="fill" color="accent">
				<mat-label>Username</mat-label>
				<input matInput type="text" minlength="3" maxlength="24" formControlName="usernameFormControl" autocomplete="nickname">
				<mat-error *ngIf="form.controls.usernameFormControl.hasError('minlength') || form.controls.usernameFormControl.hasError('maxlength')">
					Username should be at least <strong>3 characters</strong>
				</mat-error>
				<mat-error *ngIf="form.controls.usernameFormControl.hasError('required')">
					Username is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field fxFill hintLabel="Your email address" appearance="fill" color="accent">
				<mat-label>Email Address</mat-label>
				<input matInput type="email" name="username" placeholder="you@youremail.com" formControlName="emailFormControl" autocomplete="email">
				<mat-error *ngIf="form.controls.emailFormControl.hasError('email') && !form.controls.emailFormControl.hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="form.controls.emailFormControl.hasError('required')">
					Email address is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field fxFill hintLabel="New password" appearance="fill" color="accent">
				<mat-label>Password</mat-label>
				<input matInput type="password" name="password" placeholder="password" formControlName="passwordFormControl" autocomplete="new-password">
				<mat-error *ngIf="form.controls.passwordFormControl.hasError('required')">
					Password is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
				<button mat-flat-button color="accent" (click)="submit()" [class.spinner]="this.isLoading" [disabled]="this.isLoading">{{ !this.isLoading ? 'Create Account' : 'Loading' }}</button>
				<a mat-stroked-button (click)="changeAuthType('signIn')">Cancel</a>
			</div>

		</form>

	</mat-card-content>

</mat-card>

