<div class="container" fxLayout="column" fxLayoutGap="25px">

	<div fxLayout="column" fxFlex="auto" fxLayoutAlign="start">

		<div [ngClass]="{'emulated-flex-gap' : this.getThemingService().isSmallScreen}" fxLayout="row wrap" fxLayoutGap.gt-sm="15px grid">

			<!-- New Deposit -->
			<div [fxFlex]="(100/this.getThemingService().walletGridColumns) + '%'">
				<mat-card id="cards" class="mat-elevation-z6">

					<mat-card-header fxLayout="column">
						<h2 class="title">New Deposit</h2>
					</mat-card-header>

					<mat-card-content fxLayout="column">

					</mat-card-content>

				</mat-card>
			</div>

			<!-- Current Deposits -->
			<div [fxFlex]="(100/this.getThemingService().walletGridColumns) + '%'">
				<mat-card id="cards" class="mat-elevation-z6" fxFlex="100%">
					<mat-card-header fxLayout="column">
						<h2 class="title">Active Deposits</h2>
					</mat-card-header>
					<mat-card-content fxLayout="column">
					</mat-card-content>
				</mat-card>
			</div>

			<!-- Deposit History -->
			<div [fxFlex]="(100/this.getThemingService().walletGridColumns) + '%'">
				<mat-card id="cards" class="mat-elevation-z6" fxFlex="100%">
					<mat-card-header fxLayout="column">
						<h2 class="title">Deposit History</h2>
					</mat-card-header>
					<mat-card-content fxLayout="column">
					</mat-card-content>
				</mat-card>
			</div>

		</div>
	</div>

</div>