<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Conceal <strong>ID</strong></h1>
		<p class="description">Create your own personalized wallet address</p>
	</div>

	<div class="modules" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" @transition>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" fxFill>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Register your ID today</h2>
				</mat-card-header>
				<mat-card-content>
					<img class="screenshot" src="assets/images/screenshots/conceal_id.png">
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/id/cloud">Launch ID</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="start">
				<mat-card-header fxLayout="column">
					<h2 class="title">What is Conceal ID?</h2>
				</mat-card-header>
				<mat-card-content>
					<div fxLayout="row" fxLayoutAlign="center center">
						<mat-icon fxFlex="12" class="module_icon orange" aria-hidden="false">portrait</mat-icon>
						<p fxFlex class="text">Our aim is for Conceal to be ubiquitous and we realize that public keys are hard to remember and recognize. With Conceal ID we aim to solve the problem by enabling memorable and recognizable names to be used as addresses.</p>
					</div>
					<div fxLayout="column" fxLayoutAlign="start">
						<h4 class="subheading orange">INNOVATIVE SOLUTIONS FOCUSED ON SECURITY AND USABILITY</h4>
						<p fxFlex class="text">While looking for suitable solutions to the issue of sharing addresses and remembering them easily, we found none. So we created a Simple and Secure solution for Human Readable Addresses with Conceal ID.</p>
					</div>
					<div fxLayout="column" fxLayoutAlign="start">
						<h4 class="subheading orange">BUILT ON THE POWER OF THE CONCEAL CLOUD</h4>
						<p fxFlex class="text">Conceal ID is seamlessly integrated with the Conceal Cloud for absolute ease of use.</p>
					</div>
					<div fxLayout="column" fxLayoutAlign="start">
						<h4 class="subheading orange">SHARE YOUR CONCEAL ID</h4>
						<p fxFlex class="text">Send us some CCX at team.conceal.id - it works! Easily share your custom, memorable and recognizable Conceal ID with anyone.</p>
					</div>
					<div fxLayout="column" fxLayoutAlign="start">
						<h4 class="subheading orange">EASILY RECEIVE PAYMENTS</h4>
						<p fxFlex class="text">Your Conceal ID makes it simpler to accept donations or payments from customers and friends.</p>
					</div>
				</mat-card-content>
			</mat-card>

		</div>

	</div>

</div>