.container {
	min-height: calc(100vh - 115px - 50px);
	overflow: hidden;

	.modules {
		// Large
		@media screen and (min-width: 1920px) {
			max-width: 1200px;
		}

	}

	.headline {
		font-size: 3.6rem;
    line-height: 1.1em;
		font-weight: normal;
		margin-block-end: 0em;
		margin-block-start: 0em;
		backdrop-filter: blur(3px);
		padding: 5px;
		border-radius: 35px;
	}

	.headline::before {
		z-index: 1;
		background-color: darkslategray;
		filter: invert(1);
	}

	.headline::after {
		backdrop-filter: invert(1);
		z-index: 3;
	}

	.description {
    text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 1.3rem;
		backdrop-filter: blur(5px);
		padding: 5px;
		border-radius: 25px;
	}

	.description::before {
		z-index: 1;
		background-color: darkslategray;
		filter: invert(1);
	}

	.description::after {
		backdrop-filter: invert(1);
		z-index: 3;
	}

	.module_icon {
		font-size: 3.8rem;
		height: 100%;
		min-width: 60px;
	}

	.mat-card-content {
		min-height: 70px;
	}

	.text {
		margin: 0;
		font-size: 1rem;
	}

	.module_icon {
		font-size: 4rem;
		margin-right: 15px;
		height: 100%;
		width: fit-content;
		line-height: 1;
	}

	.mat-card-actions {
		margin-bottom: 0px;
	}

	.mat-list-base {
		padding: 0;
	}

	.mat-list-item {
		font-size: 0.9rem;
		height: auto;
	}

	.right-list {
		margin-left: 15px;
	}

	.mat-tab-group {
		height: 100%;
	}

	.features {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.screenshot {
		height: 100%;
		width: 100%;
		object-fit: cover;

		border-radius: 5px;
	}

	.subheading {
		margin-block-end: 0em;
		text-transform: uppercase;
	}

}