<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Conceal <strong>App</strong></h1>
		<p class="description">Brining the conceal ecosystem together in once place.</p>
	</div>

	<div class="modules" fxLayout="column" fxLayout.sm="row" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" @transition>

		<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="space-evenly stretch" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px">

			<div class="module" fxLayout="column" fxFlex>
				<mat-card id="cards" class="mat-elevation-z8">
					<mat-card-header fxLayout="column">
						<h2 class="title">Conceal Wallets</h2>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="25" class="module_icon orange" aria-hidden="false">account_balance_wallet</mat-icon>
							<p fxFlex class="text">Conceal wallets that lets you send and receive money easily.</p>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
							<button color="accent" mat-flat-button fxFlex routerLink="/wallets">Launch</button>
						</div>
					</mat-card-actions>
				</mat-card>
			</div>

			<div class="module" fxLayout="column" fxFlex>
				<mat-card id="cards" class="mat-elevation-z8">
					<mat-card-header fxLayout="column">
						<h2 class="title">Conceal Deposits</h2>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="25" class="module_icon orange" aria-hidden="false">savings</mat-icon>
							<p fxFlex class="text">Directly deposits your ccx in the conceal app and earn passive income.</p>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
							<button color="accent" mat-flat-button fxFlex routerLink="/deposits">Launch</button>
						</div>
					</mat-card-actions>
				</mat-card>
			</div>

			<div class="module" fxLayout="column" fxFlex>
				<mat-card id="cards" class="mat-elevation-z8">
					<mat-card-header fxLayout="column">
						<h2 class="title">Conceal ID</h2>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="25" class="module_icon orange" aria-hidden="false">portrait</mat-icon>
							<p fxFlex class="text">Enabling memorable and recognizable names to be used as addresses.</p>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
							<button color="accent" mat-flat-button fxFlex routerLink="/id">Launch</button>
						</div>
					</mat-card-actions>
				</mat-card>
			</div>

		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="space-evenly stretch" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px">

			<div class="module" fxLayout="column" fxFlex>
				<mat-card id="cards" class="mat-elevation-z8">
					<mat-card-header fxLayout="column">
						<h2 class="title">Conceal Bridge</h2>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="25" class="module_icon orange" aria-hidden="false">swap_horizontal_circle</mat-icon>
							<p fxFlex class="text">The swap tool lets you keep your privacy when you're done with DeFi.</p>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
							<button color="accent" mat-flat-button fxFlex routerLink="/bridge">Launch</button>
						</div>
					</mat-card-actions>
				</mat-card>
			</div>

			<div class="module" fxLayout="column" fxFlex>
				<mat-card id="cards" class="mat-elevation-z8">
					<mat-card-header fxLayout="column">
						<h2 class="title">Project Updates</h2>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="25" class="module_icon orange" aria-hidden="false">tips_and_updates</mat-icon>
							<p fxFlex class="text">Get the latest project related news and updates all through a single interface.</p>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
							<button color="accent" mat-flat-button fxFlex routerLink="/media">Launch</button>
						</div>
					</mat-card-actions>
				</mat-card>
			</div>

			<div class="module" fxLayout="column" fxFlex>
				<mat-card id="cards" class="mat-elevation-z8">
					<mat-card-header fxLayout="column">
						<h2 class="title">Service Status</h2>
					</mat-card-header>
					<mat-card-content>
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="25" class="module_icon orange" aria-hidden="false">monitor_heart</mat-icon>
							<p fxFlex class="text">View the current status of all the conceal services on single page.</p>
						</div>
					</mat-card-content>
					<mat-card-actions>
						<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
							<a color="accent" mat-flat-button fxFlex href="https://status.conceal.network" target="_blank">Launch</a>
						</div>
					</mat-card-actions>
				</mat-card>
			</div>

		</div>

	</div>

</div>