<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutGap="15px" fxLayoutGap.gt-md="25px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxFlex="auto" fxLayoutAlign="start">

			<div [ngClass]="{'emulated-flex-gap' : this.getThemingService().isSmallScreen}" fxLayout="row wrap" fxFlex="noshrink" fxLayoutGap="0px" fxLayoutGap.gt-sm="25px grid" [@listAnimation]="posts.length">

				<div [fxFlex]="(100/this.getThemingService().articleGridColumns) + '%'" fxFlex="100%" *ngFor="let item of posts | orderByImpure: '-pubDate'">

					<mat-card class="mat-elevation-z6">

						<mat-card-header fxLayout="column">
							<h2 class="title">{{item.title | shorten: 25: '...'}}</h2>
						</mat-card-header>

						<mat-card-content fxLayout="column" fxLayoutGap="0px">
							<p class="date orange">Article posted {{ this.toDate(item.pubDate) | timeAgo }}</p>
							<p class="description" [innerHTML]="item.description | stripTags | shorten: 170: '...'"></p>
						</mat-card-content>

						<mat-card-actions fxLayout="column">
							<div class="actions" fxLayout="row wrap" fxLayout.lt-md="column" fxFlex="noshrink" fxLayoutAlign="start stretch" fxLayoutGap="15px">
								<a fxFlex fxFlex="noshrink" color="accent" mat-flat-button type="button" (click)="openArticle(item)" target="_blank">Read More</a>
								<a fxFlex fxFlex="noshrink" color="accent" mat-stroked-button type="button" [href]="item.link" target="_blank">Full Article</a>
							</div>
						</mat-card-actions>

					</mat-card>

				</div>
			</div>


	</div>

</div>