<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Conceal <strong>App</strong>(lication)</h1>
		<p class="description">Bringing the conceal ecosystem together in one place</p>
	</div>

	<div class="modules" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" @transition>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" fxFill>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal Wallets</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">account_balance_wallet</mat-icon>
					<p fxFlex class="text">Launch our <span class="orange">Cloud Wallet</span> in this app or explore all the other wallets available for managing your funds on the Conceal Network.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/wallets/cloud">Launch</button>
						<button color="accent" mat-stroked-button fxFlex routerLink="/wallets">Discover</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal Deposits</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">savings</mat-icon>
					<p fxFlex class="text">Launch our <span class="orange">Cloud Deposits</span> in this app or explore how you can deposit your coins and earn passive income from our sustainable interest rates.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/deposits/cloud">Launch</button>
						<button color="accent" mat-stroked-button fxFlex routerLink="/deposits">Discover</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal ID</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">portrait</mat-icon>
					<p fxFlex class="text">Launch our <span class="orange">Cloud ID</span> in this app or explore how you can enable memorable and recognizable names instead of wallet addresses.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/id/cloud">Launch</button>
						<button color="accent" mat-stroked-button fxFlex routerLink="/id">Discover</button>
					</div>
				</mat-card-actions>
			</mat-card>

		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" fxFill>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal Bridge</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">swap_horizontal_circle</mat-icon>
					<p fxFlex class="text">The swap tool lets you keep your privacy when you're done with DeFi.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/bridge">Launch</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal Explorer</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">explore</mat-icon>
					<p fxFlex class="text">Access key network details such as supply and the status of transactions.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/explorer" disabled="true">Coming Soon</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal Updates</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">tips_and_updates</mat-icon>
					<p fxFlex class="text">Get the latest project related news and updates all through a single interface.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/media">Launch</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Conceal Status</h2>
				</mat-card-header>
				<mat-card-content>
					<mat-icon class="module_icon orange" aria-hidden="false">monitor_heart</mat-icon>
					<p fxFlex class="text">View the current status of all the conceal services on single page.</p>
				</mat-card-content>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<a color="accent" mat-stroked-button fxFlex href="https://status.conceal.network" target="_blank">Open</a>
					</div>
				</mat-card-actions>
			</mat-card>

		</div>

	</div>

</div>