.container {

	.mat-card {
		margin-bottom: 15px;
		background: rgba(60, 60, 60, 0.8);
		color: #fff;
	}

	.rounded {
		border-radius: 1rem;
		border: 2px solid #666;
	}

	.title {
		color: #ccc;
	}

	.label {
		font-size: 1rem;
		color: #fff;
		margin-bottom: 2.5px;
	}

	.sublabel {
		margin-top: 2px;
		font-size: 0.85rem;
		color: #888;
	}

	.price {
		color: #888;
		font-size: 0.9rem;
	}

	.value {
		margin-top: 15px;
		font-size: 1.2rem;
		color: orange;
	}

	.trend {
		color: #38d2389e;
		font-size: 0.8rem;
		margin-top: 3px;
	}

	.icon {
		padding-right: 5px;
		margin-bottom: 5px;
	}

	.ico {
		font-size: 14px;
		width: 15px;
		height: 10px;
	}

}