.side {

	.close {
		color: orange;
		.text {
			margin-left: 15px;
		}
		:hover {
			color: #999;
		}
	}

	.mat-button {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1.8px;
	}

	.links {
		margin-top: 2rem;
	}

	.link {
		color: #444;
		display: block;
		margin-top: 1.2rem;
		:hover {
			color: orange;
		}
	}

	.active-menu-item {
		color: orange;
	}

}