<aside fxLayout="column" fxLayoutGap="10px">

		<div fxLayout="column" fxLayoutGap="10px">
			<a mat-stroked-button class="link" color="accent" routerLink="/" routerLinkActive="active">Overview</a>
			<a mat-stroked-button class="link" color="accent" routerLink="/wallets" routerLinkActive="active">Wallets</a>
			<a mat-stroked-button class="link" color="accent" routerLink="/deposits" routerLinkActive="active">Deposits</a>
			<a mat-stroked-button class="link" color="accent" routerLink="/messaging" routerLinkActive="active">Messages</a>
			<a mat-stroked-button class="link" color="accent" routerLink="/id" routerLinkActive="active">ID</a>
			<a mat-stroked-button class="link" color="accent" (click)="close()" routerLink="/bridge" routerLinkActive="active">Bridge</a>
			<!--
			<a mat-button class="link" (click)="close()" routerLink="/pay" routerLinkActive="active">Pay</a>
			<a mat-button class="link" (click)="close()" routerLink="/explorer" routerLinkActive="active">Explorer</a>
			-->
			<a mat-stroked-button class="link" color="accent" routerLink="/media" routerLinkActive="active">Updates</a>
			<a mat-stroked-button class="link" color="accent" href="https://status.conceal.network" target="_blank" routerLinkActive="active">Status</a>
		</div>

		<div class="fill-space"></div>

		<div fxLayout="row" fxLayoutAlign="space-around">
			<div class="version">Version: <span class="orange">{{this.version}}</span></div>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-around">
			<div class="item copyright">Copyright © {{this.year}} All rights reserved <strong>Conceal Network.</strong></div>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-around">
			<div class="item copyright"><a href="https://conceal.network/tc/index.html" class="orange" target="_blank">Terms & Conditions</a><br /><a href="https://conceal.network/privacy/index.html" class="orange" target="_blank">Privacy Policy</a></div>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-around">
			<a mat-icon-button (click)="close()" routerLink="/settings" routerLinkActive="active">
				<mat-icon>settings</mat-icon>
			</a>
			<a mat-icon-button (click)="changeTheme('dark-theme')" *ngIf="activeTheme == 'light-theme'">
				<mat-icon>dark_mode</mat-icon>
			</a>
			<a mat-icon-button (click)="changeTheme('light-theme')" *ngIf="activeTheme == 'dark-theme'">
				<mat-icon>light_mode</mat-icon>
			</a>
			<a mat-icon-button (click)="logout()" *ngIf="isLoggedIn">
				<mat-icon>logout</mat-icon>
			</a>
			<a mat-icon-button (click)="login()" *ngIf="!isLoggedIn">
				<mat-icon>login</mat-icon>
			</a>
		</div>

</aside>