aside {
	height:100%;
}

.link {
	display: block;
	text-align: center;
}

.active {
	color: #fff;
	background-color: rgba(255, 166, 0, 0.096);
	border: 1px solid orange !important;
}

.close {
	font-size: 1rem;
	text-transform: uppercase;
	margin-left: 10px;
}

.version {
	font-size: 0.8rem;
	text-transform: none;
}

.copyright {
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.8;
}

.fill-space {
	flex: 1 1 auto; // Fill space between two icons
}