aside {
	height:100%;
}

.link {
	display: block;
	text-align: left;
}

.close {
	font-size: 1rem;
	text-transform: uppercase;
	margin-left: 10px;
}

.fill-space {
	flex: 1 1 auto; // Fill space between two icons
}