.content {
	//overflow: hidden;
	padding: 0.5rem;

	.title {
		font-size: 1.8rem;
		color: orange;
		line-height: 1;
		margin-block-start: 0 !important;
	}

	.text {
		font-size: 1rem;
		margin-bottom: 25px;
	}

}
