.remote {
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

.local {
  position: absolute;
  bottom: 45px;
  right: 45px;
	width: 20%;
	height: 20%;
	background: rgba($color: #000000, $alpha: 0.5);
	border: 1px solid orange;
}

button {
  margin: 1em;
}