<div class="container" fxLayout="column" fxLayoutAlign="center stretch">

	<div fxLayout="row" fxLayoutAlign="center center">

		<mat-card class="live mat-elevation-z6" fxLayout="column" fxFlex>

			<mat-card-header fxLayout="column" fxLayoutGap="5px">
				<h2 class="title">Conceal Live</h2>
				<p>Video conferencing system</p>
			</mat-card-header>

			<mat-card-content fxLayout="column" fxLayoutGap="15px">

				<div class="video" fxLayout="column">
					<video class="local" #local_video [autoplay]="true" [muted]="true"></video>
					<video class="remote" #received_video [autoplay]="true"></video>
				</div>

				<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start" fxLayoutGap="10px">
					<button *ngIf="!localVideoActive" mat-flat-button color="accent" (click)="startLocalVideo()" [disabled]="localVideoActive">Start Video</button>
					<button *ngIf="localVideoActive" mat-flat-button color="warn" (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Video</button>
					<button mat-flat-button color="accent" (click)="call()" [disabled]="inCall || !localVideoActive">Place Call</button>
					<button mat-flat-button color="warn" (click)="hangUp()" [disabled]="!inCall">Hang Up</button>
				</div>

			</mat-card-content>

		</mat-card>

	</div>

</div>
