.mat-drawer-container {
	background-image: url(./../../assets/images/bg-dark.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.active {
	color: #faa933 !important;
}

.mat-card {
	background: #424242ea !important;
	.mat-card-header {
		background-color: #222;
	}
}

.transactions {
	.mat-row:hover {
		background-color: #5e5e5e;
		cursor: pointer;
	}
}

.mat-menu-panel {
	background: #fff;
	.mat-menu-item {
		color: #333;
	}
}

.mat-menu-item:hover:not([disabled]) {
	background: #ddd;
}

.amount {
	color: #ccc;
}

.mat-toolbar {
	background: rgba($color: #222, $alpha: 0.8);
	border-bottom: 1px solid #333;
}

.card-content {
	background: rgba(#fff, 0.8);
	.mat-card-title {
		color: #111;
	}
	.mat-card-subtitle {
		color: #333;
	}
}

.posts {
	border: 1px solid rgba(255, 255, 255, 0.1);
}