.mat-drawer-container {
	background-image: url(./../../assets/images/bg-light.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.active {
	color: #f8ac22 !important;
}

.mat-card {
	background: rgba(255, 255, 255, 0.9) !important;
	.mat-card-header {
		background-color: #5a5a5a;
		color: #fff;
	}
}

.searchbox {
  color: #eee;
}

.transactions {
	.mat-row:hover {
		background-color: #ddd;
		cursor: pointer;
	}
}

.mat-form-field-label {
  color: #888;
}
.mat-form-field-underline {
  background-color: #eee !important;
}

.mat-form-field-ripple {
	/*change color of underline when focused*/
	background-color: white !important;
}

.mat-menu-panel {
	background: #5a5a5a;
	.mat-menu-item {
		color: #fff;
	}
}

.mat-menu-item:hover:not([disabled]) {
	background: #666;
}

.amount {
	color: #777;
}

.mat-toolbar {
	background: rgba($color: #fff, $alpha: 0.8);
	border-bottom: 1px solid #ccc;
}

.card-content {
	background: rgba(#000, 0.8);
	mat-card-title {
		color: #fff;
	}
	mat-card-subtitle {
		color: #ccc;
	}
}

.posts {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.break {
	border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.5);
	margin-top : 15px;
	margin-bottom : 15px;
}