// Price Cards
.price {
	.icon {
		padding-right: 5px;
		margin-bottom: 5px;
	}

	.label {
		font-size: 1rem;
	}

	.stats {
		margin-top: 5px;

		.price {
			color: orange;
			font-size: 0.9rem;
		}

		.trend {
			color: #38d2389e;
			font-size: 0.8rem;
		}

		.ico {
			font-size: 14px;
			width: 15px;
			height: 10px;
		}
	}
}

// Supply Cards
.supply {
	.value {
		margin-top: 10px;
		font-size: 1rem;
		color: orange;
	}
}

// Default Cards
.mat-card {

	.mat-card-title {
		font-size: 1rem;
		line-height: 1.5;
	}

	.mat-card-subtitle {
		font-size: 0.9rem;
		margin-bottom: 0px;
	}

	.card-container .card-content {
		position: absolute;
		width: calc(100% - 30px);
		padding: 15px;
		margin-bottom: -1px;
		left: 0px;
		bottom: 0px;
	}

	.card-container {
		border-radius: 4px;
	}

	.card-content {
		background: rgba(#222, 0.8);
		text-decoration: none;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.card-image {
		margin: -16px -16px -22px -16px;
		border-radius: 4px;
	}

}