.container {
	height: auto !important;

	.modules {
		// Large
		@media screen and (min-width: 1920px) {
			max-width: 1400px;
		}
	}

	.form {
		max-width: 550px;
	}

	.mat-list-item {
		font-size: 1rem !important;
		border-radius: 5px;
	}

	.mat-list-base {
		padding-top: 0px;
	}

	.headline {
		font-size: 3.6rem;
    line-height: 1.1em;
		font-weight: normal;
		margin-block-end: 0em;
		margin-block-start: 0em;
		backdrop-filter: blur(3px);
		padding: 5px;
		border-radius: 35px;
	}

	.headline::before {
		z-index: 1;
		background-color: darkslategray;
		filter: invert(1);
	}

	.headline::after {
		backdrop-filter: invert(1);
		z-index: 3;
	}

	.description {
    text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 1.3rem;
		backdrop-filter: blur(5px);
		padding: 5px;
		border-radius: 25px;
	}

	.id {
		font-size: 1.1rem;
		max-width: 225px;
	}

	.description::before {
		z-index: 1;
		background-color: darkslategray;
		filter: invert(1);
	}

	.description::after {
		backdrop-filter: invert(1);
		z-index: 3;
	}

	.mat-form-field {
		font-size: 1rem;
	}

	.mat-card-actions {
		margin-bottom: 0px;
	}

	fieldset {
		border-radius: 5px;
		border: 1px solid rgba($color: #999, $alpha: 0.5);
		padding: 0 15px 15px 15px;
		.mat-icon {
			margin-right: 5px;
		}
	}

	.code {
		align-self: center;
		height: 215px;
		width: 215px;
		border: 5px solid #222;
		border-radius: 5px;
	}

}