<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Conceal <strong>Updates</strong></h1>
		<p class="description">Get the latest conceal project news and updates</p>
	</div>

	<div class="articles" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" [@listAnimation1]="posts.length">

		<mat-expansion-panel class="pannel mat-elevation-z6" *ngFor="let item of posts.slice(0, this.limit) | orderByImpure: '-pubDate'; index as i" [expanded]="i == 0">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{item.title | shorten: 125: '...'}} {{item.index}}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p [innerHTML]="item.description | stripTags: '[a, p, br, ol, ul, h1, h2, h3, h4, strong]'" class="text"></p>
		</mat-expansion-panel>

		<div *ngIf="this.limit !== 10" fxLayout="column" fxLayoutAlign="center center">
			<button class="more" mat-stroked-button color="accent" (click)="setLimit(10)">Show more articles...</button>
		</div>

	</div>

</div>