<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Project <strong>Updates</strong></h1>
		<p class="description">Get the latest project updates and news.</p>
	</div>

	<div class="articles" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" [@listAnimation1]="posts.length">

		<mat-card class="mat-elevation-z6" *ngFor="let item of posts.slice(0, this.limit) | orderByImpure: '-pubDate'">

			<mat-card-header fxLayout="column">
				<h2 class="title">{{item.title | shorten: 125: '...'}}</h2>
			</mat-card-header>

			<mat-card-content fxLayout="column" fxLayoutGap="15px">
				<div fxLayout="row" fxLayoutGap="25px">
					<img *ngIf="item.thumbnail.includes('https://cdn-images')" class="image" fxHide fxShow.gt-xs src="{{item.thumbnail}}">
					<p>
						{{item.description | stripTags | shorten: 400: '...' }}
					</p>
				</div>
				<a mat-flat-button color="accent" (click)="this.openArticle(item)">Open this article</a>
			</mat-card-content>

		</mat-card>

		<div *ngIf="this.limit !== 10" fxLayout="column" fxLayoutAlign="center center">
			<button mat-stroked-button color="accent" (click)="setLimit(10)">Show more articles...</button>
		</div>

	</div>

</div>