.container {
	min-height: calc(100vh - 80px - 80px);
}

mat-horizontal-stepper {
	max-width: 700px;
}

.token {
	margin-top: 1.2rem;
}

.mat-flat-button {
	font-size: 1rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.code {
	align-self: center;
	margin-top: 5px;
	height: 285px;
	width: 285px;
}