<form [formGroup]="formTransaction" *ngIf="!transaction" @transition>

		<h1 mat-dialog-title class="title">Send Funds</h1>
		<p class="subtitle">Send funds from your wallet to another</p>

		<div mat-dialog-content fxLayout="column" fxLayoutGap="25px">

			<div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap.gt-sm="15px">

				<mat-form-field hintLabel="Amount to send" color="accent" appearance="outline" fxFlex>
					<mat-label>Amount</mat-label>
					<input matInput numeric steps="0" min="0" type="number" name="amount" #amount placeholder="100" formControlName="amount">
					<span matSuffix>CCX</span>
					<mat-error *ngIf="formTransaction.controls.amount.hasError('required')">
						Amount is <strong>required</strong>
					</mat-error>
					<mat-error *ngIf="formTransaction.controls.amount.hasError('pattern')">
						Amount is <strong>not a valid</strong> number
					</mat-error>
				</mat-form-field>

				<div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
					<button fxFlex color="accent" class="balance" mat-stroked-button aria-hidden="false" aria-label="Add 25% of balance" matTooltip="Add 25% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(25)">25%</button>
					<button fxFlex color="accent" class="balance" mat-stroked-button aria-hidden="false" aria-label="Add 50% of balance" matTooltip="Add 50% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(50)">50%</button>
					<button fxFlex color="accent" class="balance" mat-stroked-button aria-hidden="false" aria-label="Add 100% of balance" matTooltip="Add 100% of balance" matTooltipPosition="below" matTooltipClass="custom-tooltip" type="button" (click)="setAmount(100)">Max</button>
				</div>

			</div>

			<mat-form-field color="accent" hintLabel="Address to send funds" appearance="fill">
				<mat-label>Address</mat-label>
				<input matInput #toAddress type="text" name="toAddress" maxlength="98" placeholder="CCX Address" formControlName="toAddress" [matAutocomplete]="auto">
				<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
					<mat-option>
						<mat-icon aria-hidden="true" color="accent">account_balance_wallet</mat-icon>
						<span>example address book wallet</span>
					</mat-option>
				</mat-autocomplete>
				<button type="button" matSuffix mat-icon-button color="accent" aria-label="paste from clipboard" (click)="paste('toAddress')">
					<mat-icon>content_paste</mat-icon>
				</button>
				<mat-hint align="end">{{toAddress.value.length}} / 98</mat-hint>
				<mat-error *ngIf="formTransaction.controls.toAddress.hasError('required')">
					Address is <strong>required</strong>
				</mat-error>
				<mat-error *ngIf="formTransaction.controls.toAddress.hasError('match')">
					<strong>From</strong> and <strong>To</strong> addresses cannot be the same.
				</mat-error>
				<mat-error *ngIf="formTransaction.controls.toAddress.hasError('minlength')">
					Address must be <strong>98 characters</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field hintLabel="Payment ID / Memo for this address" color="accent" appearance="fill">
				<mat-label>Payment ID (Optional)</mat-label>
				<input matInput #paymentid type="text" name="paymentid" maxlength="64" placeholder="Payment ID" formControlName="paymentID" autocomplete="disabled">
				<button type="button" matSuffix mat-icon-button color="accent" aria-label="paste from clipboard" (click)="paste('paymentID')">
					<mat-icon>content_paste</mat-icon>
				</button>
				<mat-hint align="end">{{paymentid.value.length}} / 64</mat-hint>
				<mat-error *ngIf="formTransaction.controls.paymentID.hasError('minlength')">
					Address must be <strong>64 characters</strong>
				</mat-error>
			</mat-form-field>

			<mat-slide-toggle formControlName="includeMsg" *ngIf="!this.formTransaction.value.includeMsg">Include Message</mat-slide-toggle>

			<mat-form-field hintLabel="Include a message in the transaction" color="accent" appearance="fill" *ngIf="this.formTransaction.value.includeMsg">
				<mat-label>Message (Optional)</mat-label>
				<textarea rows="4" matInput #message type="text" name="message" maxlength="260" placeholder="Your message here..." formControlName="message" autocomplete="disabled"></textarea>
				<mat-hint align="end">{{message.value.length}} / 260</mat-hint>
			</mat-form-field>

		</div>

		<div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
			<button mat-stroked-button color="warn" type="button" fxFlex (click)="close()">Cancel</button>
			<button mat-flat-button color="accent" type="submit" fxFlex (click)="review()" [disabled]="!formTransaction.valid">Save & Review</button>
		</div>

</form>

<form [formGroup]="formConfirm" *ngIf="!confirmed && transaction" @transition>

	<h1 mat-dialog-title class="title">Confirmation</h1>
	<p class="subtitle">Please review the transaction</p>

	<div mat-dialog-content fxLayout="column">

		<div fxLayout="row" fxLayoutGap="15px grid">
			<div fxLayout="column" fxFlex="50">
				<mat-form-field appearance="fill" color="accent">
					<mat-label>Amount</mat-label>
					<input matInput formControlName="amount">
					<span matSuffix>CCX</span>
				</mat-form-field>
			</div>
			<div fxLayout="column" fxFlex="50">
				<mat-form-field appearance="fill" color="accent">
					<mat-label>Fee</mat-label>
					<input matInput formControlName="fee">
					<span matSuffix>CCX</span>
				</mat-form-field>
			</div>
		</div>

		<mat-form-field appearance="fill" color="accent">
			<mat-label>From Wallet</mat-label>
			<input matInput formControlName="fromAddress">
		</mat-form-field>

		<mat-form-field appearance="fill" color="accent">
			<mat-label>To Address</mat-label>
			<input matInput formControlName="toAddress">
		</mat-form-field>

		<mat-form-field appearance="fill" color="accent" *ngIf="this.formConfirm.value.paymentID">
			<mat-label>Payment ID</mat-label>
			<input matInput formControlName="paymentID">
		</mat-form-field>

		<mat-form-field appearance="fill" color="accent" *ngIf="this.formConfirm.value.message">
			<mat-label>Message</mat-label>
			<textarea rows="5" matInput formControlName="message"></textarea>
		</mat-form-field>

	</div>

	<div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
		<button mat-stroked-button color="warn" type="button" fxFlex="25" (click)="close()">Cancel</button>
		<button mat-stroked-button type="button" fxFlex="25" (click)="this.transaction=false">Edit</button>
		<button mat-flat-button color="accent" type="button" fxFlex (click)="confirm()">Confirm</button>
	</div>

</form>

<form [formGroup]="formAuthorise" *ngIf="confirmed && transaction" @transition>

	<h1 mat-dialog-title class="title">Authorisation</h1>
	<p class="subtitle" *ngIf="this.hasTwoFa">Please provide your 2FA code</p>
	<p class="subtitle" *ngIf="!this.hasTwoFa">Please provide your password</p>

	<div mat-dialog-content fxLayout="column" fxLayoutGap="25px">

		<div fxLayout="row" fxLayoutGap="15px">
			<div fxFlex fxLayout="column" *ngIf="this.hasTwoFa">
				<mat-form-field fxFill hintLabel="6 Numbers" appearance="fill">
					<mat-label>2FA Code</mat-label>
					<input #twofa matInput minlength="6" maxlength="6" placeholder="00000" formControlName="code">
					<button type="button" matSuffix mat-icon-button color="accent" aria-label="paste from clipboard" (click)="paste('twofa')">
						<mat-icon>content_paste</mat-icon>
					</button>
					<mat-hint align="end">{{twofa.value?.length || 0}}/6</mat-hint>
					<mat-error *ngIf="formAuthorise.controls.code.hasError('minlength') || formAuthorise.controls.code.hasError('maxlength')">
						2FA code should be <strong>6 numbers</strong>
					</mat-error>
					<mat-error *ngIf="formAuthorise.controls.code.hasError('pattern')">
						2FA code should be <strong>numbers only</strong>
					</mat-error>
					<mat-error *ngIf="formAuthorise.controls.code.hasError('required')">
						2FA Code is <strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div fxFlex fxLayout="column" *ngIf="!this.hasTwoFa">
				<mat-form-field fxFill appearance="fill" hintLabel="Your password">
					<mat-label>Password</mat-label>
					<input type='text' hidden name='email' autoComplete='username email' />
					<input type="password" autocomplete="current-password" matInput placeholder="password" formControlName="password">
					<mat-error *ngIf="formAuthorise.controls.password.hasError('required')">
						Password is <strong>required</strong>
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div fxLayout="row" *ngIf="this.isLoading">
			<div fxFill><mat-progress-bar color="accent" mode="query"></mat-progress-bar></div>
		</div>

	</div>

	<div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
		<button mat-stroked-button color="warn" type="button" fxFlex="25" (click)="close()">Cancel</button>
		<button mat-stroked-button type="button" fxFlex="25" (click)="this.confirmed=false">Review</button>
		<button mat-flat-button color="accent" type="submit" fxFlex (click)="authorise()" [disabled]="!formAuthorise.valid || this.isLoading">Send</button>
	</div>

</form>