<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center stretch" *ngIf="!this.isLoading">
	<div fxLayout="row" fxLayoutAlign="center center">

		<div class="settings" fxLayout="column" fxFlex fxLayoutGap="15px" fxLayoutGap.gt-md="25px" @transition>

			<!-- settings -->
			<mat-card id="cards" class="mat-elevation-z6">

				<mat-card-header fxLayout="column">
					<h2 class="title">Settings</h2>
				</mat-card-header>

				<mat-card-content fxLayout="column" fxLayoutGap="15px">

					<!-- General -->
					<fieldset fxLayout="column" fxFlex="noshrink">

						<legend fxLayout="row" fxLayoutAlign="space-between center">
							<mat-icon class="orange" aria-hidden="false">settings_suggest</mat-icon>
							General
						</legend>

						<form fxLayout="column" fxLayoutGap="15px" [formGroup]="hub">
							<p class="title">Configure application settings</p>
							<mat-form-field hintLabel="Select preferred currency" color="accent" appearance="fill" fxFlex>
								<mat-label>Currency</mat-label>
								<mat-select #currency name="currency" formControlName="currency">
									<mat-option [value]="item.name | lowercase" *ngFor="let item of this.currencies">
										<img class="icon" width="16" [src]="item.imageUrl" />
										{{ item.symbol }} {{ item.name | uppercase }} <small>(1 USD = {{ item.rate.toFixed(2) }} {{ item.name | uppercase }})</small>
									</mat-option>
								</mat-select>
								<mat-error *ngIf="hub.controls.currency.hasError('required')">
									Currency is <strong>required</strong>
								</mat-error>
							</mat-form-field>

							<mat-form-field hintLabel="Select preferred theme" color="accent" appearance="fill" fxFlex>
								<mat-label>Theme</mat-label>
								<mat-select #mode name="mode" formControlName="mode">
									<mat-option [value]="item.value | lowercase" *ngFor="let item of this.modes">
										{{ item.name }}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="hub.controls.mode.hasError('required')">
									This setting is <strong>required</strong>
								</mat-error>
							</mat-form-field>

							<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="start stretch" fxLayoutGap="15px">
								<button fxFlex color="warn" mat-stroked-button type="button" (click)="clear('hub')">Clear</button>
								<button fxFlex color="accent" mat-flat-button type="submit" (click)="changeSettings()" [disabled]="!hub.valid">Apply</button>
							</div>

						</form>

					</fieldset>

					<!-- Account -->
					<fieldset fxLayout="column" fxFlex="noshrink" *ngIf="isLoggedIn">

						<legend fxLayout="row" fxLayoutAlign="space-between center">
							<mat-icon class="orange" aria-hidden="false">manage_accounts</mat-icon>
							Account: <span class="username orange">{{this.username}}</span>
						</legend>

						<form fxLayout="column" fxLayoutGap="15px" [formGroup]="cloud">
							<p class="title">Change your email address</p>
							<mat-form-field fxFill hintLabel="Your email address" appearance="fill" color="accent">
								<mat-label>Email Address</mat-label>
								<input matInput type="email" name="username" placeholder="you@youremail.com" formControlName="email" autocomplete="email">
								<mat-error *ngIf="cloud.controls.email.hasError('email') && !cloud.controls.email.hasError('required')">
									Please enter a valid email address
								</mat-error>
								<mat-error *ngIf="cloud.controls.email.hasError('required')">
									Email address is <strong>required</strong>
								</mat-error>
							</mat-form-field>

							<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="start stretch" fxLayoutGap="15px">
								<button fxFlex color="warn" mat-stroked-button type="button" (click)="clear('cloud')">Clear</button>
								<button fxFlex color="accent" mat-flat-button type="submit" (click)="changeEmail()" [disabled]="!cloud.valid">Change Email</button>
							</div>

						</form>

					</fieldset>

					<!-- Security -->
					<fieldset fxLayout="column" fxFlex="noshrink" *ngIf="isLoggedIn">
						<legend fxLayout="row" fxLayoutAlign="space-between center">
							<mat-icon class="orange" aria-hidden="false">admin_panel_settings</mat-icon>
							Authentication
						</legend>
						<div fxLayout="row wrap" fxLayoutGap="15px grid">
							<p class="title">Change your authentication settings</p>
							<div fxLayout="column" fxFlex="50" fxFlex.lt-sm="100">
								<button fxFlex color="warn" mat-flat-button type="button" (click)="resetPassword()">Reset Password</button>
							</div>
							<div fxLayout="column" fxFlex="50" fxFlex.lt-sm="100">
								<button fxFlex color="warn" [ngClass]="this.hasTwoFa ? 'disable' : 'enable'" mat-flat-button type="button" (click)="this.show2fa = !this.show2fa">{{this.hasTwoFa ? 'Disable' : 'Enable'}} 2FA</button>
							</div>
						</div>
					</fieldset>

					<!-- twofa -->
					<fieldset fxLayout="column" fxFlex="noshrink" *ngIf="isLoggedIn && this.show2fa">
						<legend fxLayout="row" fxLayoutAlign="space-between center">
							<mat-icon class="orange" aria-hidden="false">qr_code_scanner</mat-icon>
							Two-Factor
						</legend>
						<form fxLayout="column" fxLayoutGap="15px" [formGroup]="twofa">
							<p fxFlex class="title" *ngIf="!this.hasTwoFa">Scan or enter your secret code with your authentication app to set up your account.</p>
							<fieldset fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px" *ngIf="!this.hasTwoFa">
								<legend fxLayout="row" fxLayoutAlign="space-between center">
									<mat-icon class="orange" aria-hidden="false">key</mat-icon>
									Your Secret
								</legend>
								<img fxFlex fxFlexAlign="center" class="qrcode" [src]="this.secretQR">
								<span fxFlexAlign="center" class="secret">{{this.secret}}</span>
								<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="start stretch" fxLayoutGap="15px">
									<button fxFlex color="accent" mat-flat-button type="button" (click)="copy(this.secret, 'Copied secret to clipboard')">Copy Secret Key</button>
								</div>
							</fieldset>
							<p class="title">Enter the code from your authenticator app to {{this.hasTwoFa ? 'disable' : 'enable'}} two-factor authentication.</p>
							<mat-form-field fxFill hintLabel="6 Numbers" appearance="fill">
								<mat-label>Two-factor Code</mat-label>
								<input matInput minlength="6" maxlength="6" placeholder="00000" formControlName="code">
								<button type="button" matSuffix mat-icon-button color="accent" aria-label="paste from clipboard" (click)="paste()">
									<mat-icon>content_paste</mat-icon>
								</button>
								<mat-hint align="end">{{twofa.value?.length || 0}}/6</mat-hint>
								<mat-error *ngIf="twofa.controls.code.hasError('minlength') || twofa.controls.code.hasError('maxlength')">
									2FA code should be <strong>6 numbers</strong>
								</mat-error>
								<mat-error *ngIf="twofa.controls.code.hasError('pattern')">
									2FA code should be <strong>numbers only</strong>
								</mat-error>
								<mat-error *ngIf="twofa.controls.code.hasError('required')">
									2FA Code is <strong>required</strong>
								</mat-error>
							</mat-form-field>
							<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutAlign="start stretch" fxLayoutGap="15px">
								<button fxFlex color="warn" mat-stroked-button type="button" (click)="clear('twofa')">Clear</button>
								<button fxFlex color="accent" mat-flat-button type="submit" (click)="change2fa(this.hasTwoFa)" [disabled]="!twofa.valid">{{this.hasTwoFa ? 'Disable' : 'Enable'}}</button>
							</div>
						</form>
					</fieldset>

				</mat-card-content>

			</mat-card>

		</div>

	</div>
</div>
