.title {
	font-size: 1.4rem;
	color: orange;
}

.content {
	font-size: 1rem;
	line-height: 1.5rem;
}

.mat-dialog-actions {
	margin-top: 10px;
	padding: 15px 0;
	button {
		font-size: 1rem;
		padding: .4rem;
	}
}