<mat-card class="mat-elevation-z6" *ngFor="let item of this.wallets | keyvalue" fxFlex="0 1 calc(33.3% - 25px)" fxFlex.lt-md="0 1 calc(50% - 25px)" fxFlex.lt-sm="100%">

	<mat-card-header fxLayout="column">
		<div fxLayout="row" fxLayoutAlign="space-between center">
			<h2 class="title">{{ this.getHelperService().formatAddress(item.key) }}</h2>
			<button color="accent" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item>
					<mat-icon color="primary">lock_open</mat-icon>
					<span>Export Private Keys</span>
				</button>
				<button mat-menu-item>
					<mat-icon color="primary">camera</mat-icon>
					<span>Generate QR Code</span>
				</button>
				<button mat-menu-item>
					<mat-icon color="primary">assignment</mat-icon>
					<span>Copy Address</span>
				</button>
				<button mat-menu-item>
					<mat-icon color="warn">delete</mat-icon>
					<span>Delete Wallet</span>
				</button>
			</mat-menu>
		</div>
	</mat-card-header>

	<mat-card-content fxLayout="column">
		<div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
			<div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
				<span>Available</span>
				<span>{{ this.getHelperService().formatAmount(item.value.total, 1, 6) }} CCX</span>
			</div>
			<div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
				<span>Pending</span>
				<span>{{ getHelperService().formatAmount(item.value.locked, 1, 6) }} CCX</span>
			</div>
			<div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
				<span>Withdrawable</span>
				<span>{{ getHelperService().formatAmount(item.value.balance, 1, 6) }} CCX</span>
			</div>
		</div>
	</mat-card-content>

	<mat-card-actions fxLayout="column" fxLayoutAlign="stretch">
		<div class="actions" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
			<button color="accent" mat-flat-button>Send</button>
			<button color="accent" mat-flat-button>Receive</button>
			<button color="accent" mat-flat-button>Refresh</button>
		</div>
	</mat-card-actions>

</mat-card>