<div fxLayout="row wrap" fxLayoutGap="10px grid">

	<div [fxFlex]="(100/gridColumns) + '%'" fxFlex="100%">
		<mat-card class="mat-elevation-z6">

			<mat-card-header fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<h2 class="title">My Portfolio</h2>
					<button color="accent" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item>
							<mat-icon color="accent">vpn_key</mat-icon>
							<span>Import Keys</span>
						</button>
						<button mat-menu-item>
							<mat-icon color="accent">account_balance_wallet</mat-icon>
							<span>Create New Wallet</span>
						</button>
						<button mat-menu-item routerLink="/id">
							<mat-icon color="accent">badge</mat-icon>
							<span>Conceal @ID</span>
						</button>
					</mat-menu>
				</div>
			</mat-card-header>

			<mat-card-content fxLayout="column">
				<div class="portfolio"  fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
					<div fxLayout="row" fxFlex="25">
						<span>$ {{getHelperService().formatAmount(this.portfolioUSD, 2, 2) || 0}}</span>
					</div>
					<div fxLayout="row" fxFlex="25">
						<span>₿ {{getHelperService().formatAmount(this.portfolioBTC, 8, 8) || 0}} </span>
					</div>
					<div fxLayout="row" fxFlex="25">
						<span>{{getHelperService().formatAmount(this.portfolioCCX, 1, 6) || 0}} CCX</span>
					</div>
				</div>
			</mat-card-content>

			<mat-card-actions fxLayout="column" fxLayoutAlign="stretch">
				<div class="actions" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
					<button color="accent" mat-flat-button routerLink="/deposits">Deposits</button>
				</div>
			</mat-card-actions>

		</mat-card>
	</div>

	<div [fxFlex]="(100/gridColumns) + '%'" fxFlex="100%" *ngFor="let item of this.wallets | keyvalue">
		<mat-card class="mat-elevation-z6">

			<mat-card-header fxLayout="column">
				<div fxLayout="row" fxLayoutAlign="space-between center">
					<h2 class="title">{{ this.getHelperService().formatAddress(item.key) }}</h2>
					<button color="accent" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item>
							<mat-icon color="accent">content_copy</mat-icon>
							<span>Copy Address</span>
						</button>
						<button mat-menu-item (click)="getDialogService().openReceiveDialog()">
							<mat-icon color="accent">qr_code</mat-icon>
							<span>Show QR Code</span>
						</button>
						<button mat-menu-item>
							<mat-icon color="accent">vpn_key</mat-icon>
							<span>Export Keys</span>
						</button>
						<button mat-menu-item>
							<mat-icon color="warn">delete</mat-icon>
							<span>Delete Wallet</span>
						</button>
					</mat-menu>
				</div>
			</mat-card-header>

			<mat-card-content fxLayout="column">
				<div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
					<div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
						<span>Available</span>
						<span class="amount">{{ this.getHelperService().formatAmount(item.value.total, 6, 6) }} CCX</span>
					</div>
					<div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
						<span>Pending</span>
						<span class="amount">{{ getHelperService().formatAmount(item.value.locked, 6, 6) }} CCX</span>
					</div>
					<div fxLayout="row" fxFlex="25" fxLayoutAlign="space-between stretch">
						<span>Withdrawable</span>
						<span class="amount">{{ getHelperService().formatAmount(item.value.balance, 6, 6) }} CCX</span>
					</div>
				</div>
			</mat-card-content>

			<mat-card-actions fxLayout="column" fxLayoutAlign="stretch">
				<div class="actions" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
					<button color="accent" mat-flat-button (click)="getDialogService().openSendDialog()">Send Funds</button>
				</div>
			</mat-card-actions>

		</mat-card>
	</div>

</div>

