<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav position="end" role="navigation" mode="push">
    <app-sidenav (sideNavClosed)="sidenav.close()"></app-sidenav> <!-- sidenav -->
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

		<app-header></app-header> <!-- header -->

    <main class="container">
      <router-outlet></router-outlet> <!-- content -->
    </main>

		<app-footer *ngIf="platform.ANDROID || platform.IOS || isSmallScreen" (sidenavToggle)="sidenav.toggle()"></app-footer> <!-- footer -->

  </mat-sidenav-content>

</mat-sidenav-container>