<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav position="end" role="navigation" mode="push">
    <app-sidenav (sideNavClosed)="sidenav.close()"></app-sidenav> <!-- sidenav -->
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

		<app-header *ngIf="!isSmallScreen"></app-header> <!-- header -->
		<app-mobile-header *ngIf="isSmallScreen"></app-mobile-header> <!-- mobile header -->

    <main class="container">
      <router-outlet></router-outlet> <!-- content -->
    </main>

		<app-footer *ngIf="!isSmallScreen" (sidenavToggle)="sidenav.toggle()"></app-footer> <!-- footer -->
		<app-mobile-footer *ngIf="isSmallScreen" (sidenavToggle)="sidenav.toggle()"></app-mobile-footer> <!-- mobile footer -->

  </mat-sidenav-content>

</mat-sidenav-container>