mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100vh; // Component content fills entire vertical space
}

mat-sidenav {
	width: 30vw;
	padding: 2.5rem 1.5rem;
	background: #fff;
	text-transform: uppercase;
}

// Component content area
.container {
	height: 100vh;
  overflow: auto; // Keeps header from scrolling away
	background-color: #1a1a1a;
	padding: 10px;
}

@media only screen and (max-width: 960px) {
	mat-sidenav {
		width: 55vw;
	}
}