<mat-sidenav-container class="dark" fullscreen>

  <mat-sidenav #sidenav position="end" role="navigation" mode="push">
    <app-sidenav (sideNavClosed)="sidenav.close()"></app-sidenav> <!-- sidenav -->
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">

		<app-header *ngIf="!getThemingService().isSmallScreen"></app-header> <!-- header -->

    <main class="container">
			<router-outlet></router-outlet> <!-- content -->
    </main>

		<app-mobile-footer *ngIf="getThemingService().isSmallScreen" (sidenavToggle)="sidenav.toggle()"></app-mobile-footer> <!-- mobile footer -->

  </mat-sidenav-content>

</mat-sidenav-container>