.title {
	font-size: 1.4rem;
	margin-block-end: 0.3em;
	margin-bottom: 15px;
}

.subtitle {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
	filter: brightness(80%);
}



table {
	width: 100%;
	th {
		color: #faa933;
	}
	tr {
		height: 35px;
	}
}

.orange {
	color: #faa933;
}