<mat-toolbar class="header" fxLayout="row wrap" color="primary">

	<div class="version" fxFlex="25" fxFlex.lt-md="grow">
		App Version: <span class="orange">{{ this.version }}</span>
	</div>

	<div class="copyright" fxFlex fxFlex.lt-md="grow" fxLayoutGap="0px">
		<div class="item">Copyright © {{this.year}} All rights reserved <strong>Conceal Network.</strong></div>
		<div class="item"><a href="https://conceal.network/tc" class="orange" target="_blank">Terms & Conditions</a> | <a href="https://conceal.network/privacy" class="orange" target="_blank">Privacy Policy</a> | <a href="https://conceal.network/support" class="orange" target="_blank">Support</a></div>
	</div>

	<div class="links" fxFlex="25" fxFlex.lt-md="grow" fxLayoutAlign.gt-sm="end">
		<a href="https://twitter.com/ConcealNetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="https://medium.com/@ConcealNetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-medium-m"></i>
		</a>
		<a href="https://github.com/ConcealNetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-github"></i>
		</a>
		<a href="https://conceal.network/wiki/doku.php" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-wikipedia-w"></i>
		</a>
		<a href="http://discord.conceal.network" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-discord"></i>
		</a>
		<a href="https://t.me/concealnetworkusers" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-telegram"></i>
		</a>
		<a href="https://www.youtube.com/channel/UC_YtRUcy0FR0yIc3H6DDxuw" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-youtube"></i>
		</a>
	</div>

</mat-toolbar>