// Fix toolbar to the bottom and make it 55px in height
footer {
  overflow: hidden;
	mat-toolbar {
		background-color: #111;
		color: #ccc;
		//padding: 0 5px;
	}
	.toolbar-icon {
		line-height:1; // Set to zero or will affect spacing between icon and text
	}

	.toolbar-icon-text {
		line-height: 1.8; // Proper spacing between icon and text
		font-size: 70%; // Smaller text size for proper display under icon
	}

	.active-menu-item {
		color: orange;
	}
}