<mat-toolbar class="header" fxLayout="row wrap" color="primary">

	<div class="version" fxFlex="25" fxFlex.lt-md="grow">
		Conceal Hub: <span class="orange">v1.0 Beta</span>
	</div>

	<div class="copyright" fxFlex fxFlex.lt-md="grow">
		Copyright © {{this.year}} Conceal Network. All rights reserved.
	</div>

	<div class="links" fxFlex="25" fxFlex.lt-md="grow" fxLayoutAlign.gt-sm="end">
		<a href="https://www.facebook.com/concealnetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="https://twitter.com/ConcealNetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="https://medium.com/@ConcealNetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-medium-m"></i>
		</a>
		<a href="https://www.reddit.com/r/ConcealNetwork/" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-reddit"></i>
		</a>
		<a href="https://bitcointalk.org/index.php?topic=5086106" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-bitcoin"></i>
		</a>
		<a href="https://github.com/ConcealNetwork" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-github"></i>
		</a>
		<a href="http://discord.conceal.network" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-discord"></i>
		</a>
		<a href="https://t.me/concealnetworkusers" mat-icon-button aria-label="socials" rel="noreferrer" target="_blank">
			<i class="fab fa-telegram"></i>
		</a>
	</div>

</mat-toolbar>