footer {

	.mat-toolbar {
		background: rgba($color: #000000, $alpha: 0);
	}

	.menu {
		.toolbar-icon {
			line-height:1; // Set to zero or will affect spacing between icon and text
		}

		.toolbar-icon-text {
			line-height: 1.8; // Proper spacing between icon and text
			font-size: 70%; // Smaller text size for proper display under icon
		}
	}

}