footer {

	.menu {
		.toolbar-icon {
			line-height:1; // Set to zero or will affect spacing between icon and text
		}

		.toolbar-icon-text {
			line-height: 1.5; // Proper spacing between icon and text
			font-size: 75%; // Smaller text size for proper display under icon
			text-transform: uppercase;
		}
	}

}