<footer class="footer">
  <mat-toolbar class="footer mat-elevation-z0" color="primary">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="0px">

      <a mat-button class="menu" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div class="toolbar-icon">
          <mat-icon>workspaces</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Home</span>
        </div>
      </a>

      <a mat-button class="menu" href="https://wallet.conceal.network" target="_blank">
        <div class="toolbar-icon">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Wallet</span>
        </div>
      </a>

			<a mat-button class="menu" routerLink="/bridge" routerLinkActive="active">
        <div class="toolbar-icon">
          <mat-icon>swap_horizontal_circle</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Bridge</span>
        </div>
      </a>

			<a mat-button class="menu" href="https://explorer.conceal.network" target="_blank">
        <div class="toolbar-icon">
          <mat-icon>query_stats</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>Explorer</span>
        </div>
      </a>

      <button mat-button class="menu" (click)="onToggleSidenav()">
        <div class="toolbar-icon">
          <mat-icon>read_more</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>more</span>
        </div>
      </button>

    </div>
  </mat-toolbar>
</footer>