<footer class="footer">
  <mat-toolbar class="footer mat-elevation-z0" color="primary">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">

      <button mat-button class="menu" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div class="toolbar-icon">
          <mat-icon>home</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>overview</span>
        </div>
      </button>

      <button mat-button class="menu" routerLink="/wallets" routerLinkActive="active">
        <div class="toolbar-icon">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>wallets</span>
        </div>
      </button>

      <button mat-button class="menu" routerLink="/deposits" routerLinkActive="active">
        <div class="toolbar-icon">
          <mat-icon>savings</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>deposits</span>
        </div>
      </button>

			<button mat-button class="menu" routerLink="/messaging" routerLinkActive="active">
        <div class="toolbar-icon">
          <mat-icon>message</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>messages</span>
        </div>
      </button>

			<!-- future updates
			<button mat-button class="menu" routerLink="/live" routerLinkActive="active">
        <div class="toolbar-icon">
          <mat-icon>call</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>live</span>
        </div>
      </button>
			 -->

      <button mat-button class="menu" (click)="onToggleSidenav()">
        <div class="toolbar-icon">
          <mat-icon>read_more</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>more</span>
        </div>
      </button>

    </div>
  </mat-toolbar>
</footer>