<footer class="footer">
  <mat-toolbar class="footer">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">

      <button mat-button routerLink="/" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
        <div class="toolbar-icon">
          <mat-icon>home</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>home</span>
        </div>
      </button>

      <button mat-button routerLink="/wallet" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>wallet</span>
        </div>
      </button>

      <button mat-button routerLink="/deposits" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>savings</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>deposits</span>
        </div>
      </button>

			<button mat-button routerLink="/live" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>call</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>live</span>
        </div>
      </button>

      <button mat-button (click)="onToggleSidenav()">
        <div class="toolbar-icon">
          <mat-icon>more_horiz</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>more</span>
        </div>
      </button>

    </div>
  </mat-toolbar>
</footer>