<mat-card class="signup mat-elevation-z6">

	<mat-card-header fxLayout="column" fxLayoutGap="5px">
		<h2 class="title">Reset Password</h2>
	</mat-card-header>

	<mat-card-content fxLayout="column" fxLayoutGap="25px">

		<form [formGroup]="form" fxLayout="column" fxLayoutGap="25px">

			<mat-form-field fxFill hintLabel="Your email address" appearance="fill" color="accent">
				<mat-label>Email Address</mat-label>
				<input matInput type="email" name="username" placeholder="you@youremail.com" formControlName="emailFormControl" autocomplete="email">
				<mat-error *ngIf="form.controls.emailFormControl.hasError('email') && !form.controls.emailFormControl.hasError('required')">
					Please enter a valid email address
				</mat-error>
				<mat-error *ngIf="form.controls.emailFormControl.hasError('required')">
					Email address is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
				<button mat-flat-button color="accent" (click)="submit()" [class.spinner]="this.isLoading" [disabled]="this.isLoading">{{ !this.isLoading ? 'Recover Password' : 'Loading' }}</button>
				<a mat-stroked-button (click)="changeAuthType('signIn')">Return</a>
			</div>

		</form>

	</mat-card-content>

	</mat-card>