.container {
	min-height: calc(100vh - 105px - 65px);
	//overflow: hidden;
	color: #fff;

	.headline {
		font-size: 3.6rem;
    line-height: 1.1em;
		font-weight: normal;
	}

	.description {
		padding: 3rem 0;
    text-transform: uppercase;
		letter-spacing: 0.1em;
		text-shadow: -0.2em 0 0.4em rgb(15, 15, 15), 0.2em 0 0.4em rgb(15, 15, 15);
		color: #999;
		font-size: 1.3rem;
	}

}

@media only screen and (max-width: 960px) {
	.container {
		min-height: calc(100vh - 105px - 119px); // Component content fills entire vertical space
		.headline {
			font-size: 3rem;
			text-align: center;
		}
		.description {
			font-size: 1rem;
			text-align: center;
			line-height: 2;
		}
	}
}