<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Conceal <strong>Wallets</strong></h1>
		<p class="description">Providing multiple wallet options for every situation</p>
	</div>

	<div class="modules" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" @transition>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" fxFill>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Cloud Wallet</h2>
				</mat-card-header>
				<mat-tab-group mat-align-tabs="start" color="accent">
					<mat-tab label="What is it?">
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="20" class="module_icon orange" aria-hidden="false">cloud</mat-icon>
							<p class="text">Centralized solution focusing on ease of use and convenience. Everything is managed by us so you can get on with managing your funds.</p>
						</div>
					</mat-tab>
					<mat-tab label="What features are supported?">
						<mat-list>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Send & Receive</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Deposits & Withdrawals</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Import Private Keys</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Export Private Keys</p>
							</mat-list-item>
						</mat-list>
					</mat-tab>
				</mat-tab-group>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<button color="accent" mat-flat-button fxFlex routerLink="/wallets/cloud">Launch Wallet</button>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Web Wallet</h2>
				</mat-card-header>
				<mat-tab-group mat-align-tabs="start" color="accent">
					<mat-tab label="What is it?">
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="20" class="module_icon orange" aria-hidden="false">public</mat-icon>
							<p fxFlex class="text">Completely decentralized and works in any browser. Focusing on ease of use and portability and utilizing our smart remote node network.</p>
						</div>
					</mat-tab>
					<mat-tab label="What features are supported?">
						<mat-list>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Send & Receive</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Deposits & Withdrawals</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Import Private Keys</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Export Private Keys</p>
							</mat-list-item>
						</mat-list>
					</mat-tab>
				</mat-tab-group>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<a color="accent" mat-flat-button fxFlex href="https://wallet.conceal.network" target="_blank">Open Wallet</a>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Paper Wallet</h2>
				</mat-card-header>
				<mat-tab-group mat-align-tabs="start" color="accent">
					<mat-tab label="What is it?">
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="20" class="module_icon orange" aria-hidden="false">article</mat-icon>
							<p fxFlex class="text">An offline mechanism for generating wallets. Print your private keys and addresses, store them in a safe place and import only when required.</p>
						</div>
					</mat-tab>
					<mat-tab label="What features are supported?">
						<mat-list>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Send & Receive</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Deposits & Withdrawals</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Import Private Keys</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Export Private Keys</p>
							</mat-list-item>
						</mat-list>
					</mat-tab>
				</mat-tab-group>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<a color="accent" mat-flat-button fxFlex href="https://conceal.network/paperwallet" target="_blank">Open Wallet</a>
					</div>
				</mat-card-actions>
			</mat-card>

		</div>

		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" fxFill>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Desktop Wallet</h2>
				</mat-card-header>
				<mat-tab-group mat-align-tabs="start" color="accent">
					<mat-tab label="What is it?">
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="20" class="module_icon orange" aria-hidden="false">computer</mat-icon>
							<p fxFlex class="text">Fully featured and beautiful with both graphical and command-line interfaces available for multiple operating systems.</p>
						</div>
					</mat-tab>
					<mat-tab label="What features are supported?">
						<mat-list>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Send & Receive</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Deposits & Withdrawals</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Import Private Keys</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Export Private Keys</p>
							</mat-list-item>
						</mat-list>
					</mat-tab>
				</mat-tab-group>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<a color="accent" mat-flat-button fxFlex href="https://github.com/ConcealNetwork/conceal-desktop/releases" target="_blank">GUI</a>
						<a color="accent" mat-flat-button fxFlex href="https://github.com/ConcealNetwork/conceal-core/releases" target="_blank">CLI</a>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Mobile Wallet</h2>
				</mat-card-header>
				<mat-tab-group mat-align-tabs="start" color="accent">
					<mat-tab label="What is it?">
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="20" class="module_icon orange" aria-hidden="false">phone_android</mat-icon>
							<p fxFlex class="text">Utilizing our Cloud infrastructure, users can easily manage their funds and make and receive payments all while on the go.</p>
						</div>
					</mat-tab>
					<mat-tab label="What features are supported?">
						<mat-list>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Send & Receive</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Deposits & Withdrawals</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Import Private Keys</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Export Private Keys</p>
							</mat-list-item>
						</mat-list>
					</mat-tab>
				</mat-tab-group>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<a color="accent" mat-flat-button fxFlex href="https://play.google.com/store/apps/details?id=app.conceal.hub" target="_blank">Google</a>
						<a color="accent" mat-flat-button fxFlex href="https://github.com/ConcealNetwork/conceal-hub/releases" target="_blank">Github</a>
					</div>
				</mat-card-actions>
			</mat-card>

			<mat-card id="cards" class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
				<mat-card-header fxLayout="column">
					<h2 class="title">Extension Wallet</h2>
				</mat-card-header>
				<mat-tab-group mat-align-tabs="start" color="accent">
					<mat-tab label="What is it?">
						<div fxLayout="row" fxLayoutAlign="center center">
							<mat-icon fxFlex="20" class="module_icon orange" aria-hidden="false">extension</mat-icon>
							<p fxFlex class="text">Utilizing our Cloud infrastructure, users can users manage their funds and make and receive payments right in their browser.</p>
						</div>
					</mat-tab>
					<mat-tab label="What features are supported?">
						<mat-list>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Send & Receive</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Deposits & Withdrawals</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="danger">close</mat-icon>
								<p matLine>Import Private Keys</p>
							</mat-list-item>
							<mat-list-item>
								<mat-icon matListIcon class="success">check</mat-icon>
								<p matLine>Export Private Keys</p>
							</mat-list-item>
						</mat-list>
					</mat-tab>
				</mat-tab-group>
				<mat-card-actions>
					<div class="actions" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between stretch" fxLayoutGap="15px">
						<a color="accent" mat-flat-button fxFlex href="https://chrome.google.com/webstore/detail/conceal-browser-extension/ajclelbbigjopijfkgfeblgikbhaofgp" target="_blank">Chrome</a>
						<a color="accent" mat-flat-button fxFlex href="https://addons.mozilla.org/en-GB/firefox/addon/conceal-browser-extension" target="_blank">FireFox</a>
					</div>
				</mat-card-actions>
			</mat-card>

		</div>

	</div>

</div>