
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Import fonts
@import "@fontsource/poppins";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$conceal-app-primary: mat.define-palette(mat.$indigo-palette);
$conceal-app-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$conceal-app-warn: mat.define-palette(mat.$red-palette, A200, A100, A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$conceal-app-theme: mat.define-light-theme((
  color: (
    primary: $conceal-app-primary,
    accent: $conceal-app-accent,
    warn: $conceal-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($conceal-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
	margin: 0;
	font-family: "Poppins";
}

// import light theme
.light-theme {
	@import './styles/themes/light.scss';
}

// import dark theme
.dark-theme {
	@import './styles/themes/dark.scss';
}

// import custom styles
@import './styles/cards.scss';
@import './styles/buttons.scss';
@import './styles/fields.scss';
@import './styles/tables.scss';
@import './styles/elevations.scss';

.orange {
	color: #faa933;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.mat-paginator-container {
	padding: 0 !important;
	margin: 0 !important;
}

.mat-tab-body.mat-tab-body-active {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.mat-tab-body-content {
	padding: 15px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: orange;
  animation: spinner .8s linear infinite;
}

.container {
	padding: 25px;
}

/* Large devices (laptops/desktops, 960px and up) */
@media (min-width: 1280px) and (max-width: 1919.98px) {
	.container {
		padding: 45px;
	}
}

/* Medium */
@media (min-width: 960px) and (max-width: 1279.98px) {
	.container {
		padding: 25px;
	}
}

/* xSMall & Small */
@media only screen and (max-width: 960px) {
	.container {
		padding: 10px;
	}
}

.mat-menu-content:not(:empty) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* Change Autocomplete styles in Chrome*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  // -webkit-text-fill-color: #faa933;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.emulated-flex-gap {
  --gap: 15px;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.emulated-flex-gap > * {
  margin: var(--gap) 0 0 var(--gap);
}

// Custom SLider
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 20px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 15px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  bottom: -21px;
  right: -20px;
}

mat-horizontal-stepper {
	border-radius: 5px;
}

.mat-horizontal-stepper-header-container {
	padding: 0px;
}

.mat-step-icon-selected {
	background-color: orange !important;
}

.mat-step-icon-state-done {
	background-color: green !important;
}

.feature {
	.mat-list-item-content {
		padding: 0px !important;
	}
}

.ball {
	z-index: -1;
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.mat-expansion-panel-header-title {
	font-size: 1.2rem;
	color: orange;
}
.mat-expansion-panel-header {
	font-size: 1rem !important;
	height: 60px;
}

.mat-expansion-panel-header-description {
	font-size: 1rem;
}

.mat-expansion-panel-body {
	//background: #414141 !important;
	padding: 15px !important;
	font-size: 1rem;
	a {
		max-width: 200px;
		overflow-wrap: anywhere;
	 }
}