@use '@angular/material' as mat;

// Import fonts
@import "@fontsource/poppins";

// Only import material icons if the device is a mobile
@media only screen and (max-width: 960px) {
	@import "@fontsource/material-icons";
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary-light-scheme: (
  100: rgb(255, 255, 255),
	500: rgb(255, 255, 255),
  700: rgb(255, 255, 255),
  contrast: (
    100: rgba(0,0,0,0.9),
    500: rgba(0,0,0,0.7),
    700: #111,
  )
);

$mat-primary-dark-scheme: (
  100: #212121,
	500: #212121,
  700: #212121,
  contrast: (
		100: rgba(255,255,255,0.9),
    500: rgba(255,255,255,0.7),
    700: #fff,
  )
);

$mat-accent-scheme: (
  100: #faa933,
  500: #faa933,
  700: #ffa500,
  contrast: (
    100: rgba(0,0,0,0.9),
    500: rgba(0,0,0,0.7),
    700: #000000,
  )
);

$mat-typography: mat.define-typography-config(
  $font-family: 'Poppins',
	$display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
	$headline: mat.define-typography-level(34px, 40px, 400),
	$subheading-2:  mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
	$subheading-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),

);

$mat-dark-warn: mat-palette($mat-red, 300);
$mat-light-warn: mat-palette($mat-red, 600);

$mat-accent-palette: mat-palette($mat-accent-scheme);
$mat-primary-light-palette: mat-palette($mat-primary-light-scheme);
$mat-primary-dark-palette: mat-palette($mat-primary-dark-scheme);

$app-light-theme: mat-light-theme($mat-primary-light-palette, $mat-accent-palette, $mat-light-warn);
$app-dark-theme: mat-dark-theme($mat-primary-dark-palette, $mat-accent-palette, $mat-dark-warn);

.light-theme {
	@include mat.core($mat-typography);
  @include angular-material-theme($app-light-theme);
	@import './styles/themes/light.scss';
	@import './styles/cards.scss';
	@import './styles/buttons.scss';
	@import './styles/fields.scss';
	@import './styles/tables.scss';
}

.dark-theme {
	@include mat.core($mat-typography);
  @include angular-material-theme($app-dark-theme);
	@import './styles/themes/dark.scss';
	@import './styles/cards.scss';
	@import './styles/buttons.scss';
	@import './styles/fields.scss';
	@import './styles/tables.scss';
}

/* You can add global styles to this file, and also import other style files */
.orange {
	color: #faa933;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, 0.6) !important
}

.mat-paginator-container {
	padding: 0 !important;
	margin: 0 !important;
}

.mat-tab-body.mat-tab-body-active {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.mat-tab-body-content {
	padding: 15px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: orange;
  animation: spinner .8s linear infinite;
}

.container {
	padding: 25px;
}

/* Large devices (laptops/desktops, 960px and up) */
@media (min-width: 1280px) and (max-width: 1919.98px) {
	.container {
		padding: 15px;
	}
}

/* Medium */
@media (min-width: 960px) and (max-width: 1279.98px) {
	.container {
		padding: 15px;
	}
}

/* xSMall & Small */
@media only screen and (max-width: 960px) {
	.container {
		padding: 5px;
	}
}

.mat-menu-content:not(:empty) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* Change Autocomplete styles in Chrome*/
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  // -webkit-text-fill-color: #faa933;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.emulated-flex-gap {
  --gap: 15px;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.emulated-flex-gap > * {
  margin: var(--gap) 0 0 var(--gap);
}

// Custom SLider
.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 20px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 15px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  bottom: -21px;
  right: -20px;
}