// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-primary-light-scheme: (
  100: #334955,
  500: #334955,
  700: #424242,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-primary-dark-scheme: (
  100: #212121,
  contrast: (
    100: rgba(0,0,0,0.87),
  )
);
$mat-accent-scheme: (
  100: #faa933,
  500: #faa933,
  700: #ffa500,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);

$mat-primary-light-palette: mat-palette($mat-primary-light-scheme);
$mat-primary-dark-palette: mat-palette($mat-primary-dark-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-light-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-dark-palette, $mat-accent-palette);

.light-theme {
  @include angular-material-theme($app-light-theme);
}

.dark-theme{
  @include angular-material-theme($app-dark-theme);
}

// Material Components
@import './styles/cards.scss';

/* You can add global styles to this file, and also import other style files */
.active {
	color: #faa933 !important;
}

/* Large devices (laptops/desktops, 960px and up) */
@media only screen and (min-width: 960px) {
	.container {
		padding: 25px;
	}
}