<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
  <h2 class="title">Conceal Authenticator</h2>
  <p class="text">
    Conceal-Authenticator is a secure 2FA (Two-Factor Authentication) app that leverages the Conceal Network blockchain to securely backup your 2FA shared keys using a built-in lite wallet.
  </p>
  <div>
    <a
      color="accent"
      mat-stroked-button
      href="https://conceal.network/labs#authenticator"
      target="_blank"
      rel="noopener">
      Learn more
    </a>
  </div>
</div>

