<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Cloud <strong>Messages</strong></h1>
		<p class="description">Fully integrated encrypted messaging on the Blockchain.</p>
	</div>

	<div class="modules" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" @transition>

		<div class="controls" fxLayout="column" fxLayoutAlign="start">
			<div fxLayout="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px">

				<mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Messages
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="10px">
						<button fxFlex mat-stroked-button color="accent" [class.selected]="isIncoming" (click)="this.inComing()">
							<div fxLayoutAlign="center center"><mat-icon class="icon">call_received</mat-icon>Incoming</div>
						</button>
						<button fxFlex mat-stroked-button color="accent" [class.selected]="!isIncoming" (click)="this.outGoing()">
							<div fxLayoutAlign="center center"><mat-icon class="icon">call_made</mat-icon>Outgoing</div>
						</button>
						<button fxFlex mat-flat-button color="accent" (click)="this.getDialogService().openComposeMsgDialog()">
							<div fxLayoutAlign="center center"><mat-icon class="icon">edit</mat-icon>Compose</div>
						</button>
					</div>
				</mat-expansion-panel>

			</div>
		</div>

		<div class="messages" fxLayout="column" fxLayoutAlign="start">

			<mat-card id="cards" class="mat-elevation-z8">

				<mat-card-header fxLayout="column">
					<div fxLayout="row" class="controls" fxLayoutAlign="center center">
						<mat-form-field color="accent" fxFlex="auto" class="filter" appearance="standard">
							<mat-label class="searchbox">Search Messages</mat-label>
							<input matInput (keyup)="applyFilter($event, messagesSource)">
							<mat-icon color="accent" matSuffix>search</mat-icon>
						</mat-form-field>
					</div>
				</mat-card-header>

				<div class="tableControls" fxLayout="row" fxLayoutAlign="center center">
					<p *ngIf="isIncoming" fxFlex fxLayoutAlign="start center">Incoming messages for all wallets</p>
					<p *ngIf="!isIncoming" fxFlex fxLayoutAlign="start center">Outgoing messages for all wallets</p>
					<button mat-icon-button color="accent" (click)="this.revealAllToggle()">
						<div fxLayoutAlign="center center" *ngIf="!revalAll"><mat-icon>visibility</mat-icon></div>
						<div fxLayoutAlign="center center" *ngIf="revalAll"><mat-icon>visibility_off</mat-icon></div>
					</button>
					<button mat-icon-button color="accent" (click)="this.getMessages()" [disabled]="this.isLoadingResults">
						<div fxLayoutAlign="center center"><mat-icon>refresh</mat-icon></div>
					</button>
				</div>

				<mat-progress-bar color="accent" mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>

				<table *ngIf="!this.isLoadingResults" mat-table matSort matSortActive="date" matSortDirection="desc" [dataSource]="messagesSource">

					<ng-container matColumnDef="timestamp">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
						<td mat-cell *matCellDef="let item">
							<div fxLayout="row" fxLayoutAlign="start center" class="uppercase">
								{{getHelperService().formatDatetime(item.timestamp)}}
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="address">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
						<td mat-cell *matCellDef="let item">
							<div fxLayout="row" fxLayoutAlign="start center" class="uppercase">
								{{ this.getHelperService().formatAddress(item.address) }}
							</div>
						</td>
					</ng-container>

					<ng-container matColumnDef="message">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
						<td mat-cell *matCellDef="let item">
							<div fxLayout="row" fxLayoutAlign="start center" class="capitalize">
								<span *ngIf="revalAll || revealItem === item.id"  matTooltip="Conceal this message">{{item.message}}</span>
								<span *ngIf="!revalAll && revealItem !== item.id" matTooltip="Reveal this message">######</span>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="messageColumns"></tr>
					<tr id="{{row.id}}" mat-row *matRowDef="let row; columns: messageColumns;" (click)="revealMessage(row)"></tr>

				</table>

				<mat-card-actions fxLayout="column" fxLayoutAlign="stretch">
					<mat-paginator #messages="matPaginator" color="accent" class="mat-paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
				</mat-card-actions>

			</mat-card>

		</div>

	</div>

</div>