<app-loader *ngIf="this.isLoading"></app-loader>

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill fxLayoutGap="25px" fxLayoutGap.lt-sm="15px" *ngIf="!this.isLoading">

	<div fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
		<h1 class="headline">Cloud <strong>Messages</strong></h1>
		<p class="description">Fully integrated encrypted messaging on the Blockchain.</p>
	</div>

	<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px">

		<div class="controls" fxLayout="column" fxLayoutAlign="start">
			<div fxLayout="column" fxLayoutGap="25px" fxLayoutGap.lt-sm="15px">

				<mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Wallets
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="10px">
						<div *ngFor="let item of addresses">
							<button fxFlex mat-flat-button color="accent">{{this.getHelperService().formatAddress(item)}}</button>
						</div>
						<button fxFlex mat-flat-button color="primary">New Message</button>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Address Book
						</mat-panel-title>
					</mat-expansion-panel-header>
					<div fxLayout="column" fxLayoutGap="10px">
						<button fxFlex mat-flat-button color="accent">Contacts</button>
						<button fxFlex mat-flat-button color="primary">New Contact</button>
					</div>
				</mat-expansion-panel>

			</div>
		</div>

		<div class="messages" fxLayout="column" fxFill fxLayoutAlign="start">

			<mat-card id="cards" class="mat-elevation-z8">

				<mat-card-header fxLayout="column">
					<div fxLayout="row" class="controls" fxLayoutAlign="center center">
						<mat-form-field color="accent" fxFlex="auto" class="filter" appearance="standard">
							<mat-label class="searchbox">Search Messages</mat-label>
							<input matInput (keyup)="applyFilter($event)">
							<mat-icon color="accent" matSuffix>search</mat-icon>
						</mat-form-field>
					</div>
				</mat-card-header>

				<p class="text">Incoming and outgoing messages for all wallets</p>
				<table mat-table [dataSource]="messages">

					<!-- Position Column -->
					<ng-container matColumnDef="date">
						<th mat-header-cell *matHeaderCellDef> Time </th>
						<td mat-cell *matCellDef="let message">
							<div fxLayout="row" fxLayoutAlign="start center" class="capitalize">
								{{getHelperService().formatDatetime(message.datetime)}}
							</div>
						</td>
					</ng-container>

					<!-- Name Column -->
					<ng-container matColumnDef="address">
						<th mat-header-cell *matHeaderCellDef> Address </th>
						<td mat-cell *matCellDef="let message">
							<div fxLayout="row" fxLayoutAlign="start center" class="uppercase">
								{{ this.getHelperService().formatAddress(message.address) }}
							</div>
						</td>
					</ng-container>

					<!-- Weight Column -->
					<ng-container matColumnDef="type">
						<th mat-header-cell *matHeaderCellDef> Direction </th>
						<td mat-cell *matCellDef="let message">
							<div fxLayout="row" fxLayoutAlign="start center" class="capitalize">
								<mat-icon class="icon" *ngIf="message.type === 'out'" color="warn" aria-hidden="true">call_made</mat-icon>
								<mat-icon class="icon" *ngIf="message.type === 'in'" color="accent" aria-hidden="true">call_received</mat-icon>
								{{message.type}}
							</div>
						</td>
					</ng-container>

					<!-- Symbol Column -->
					<ng-container matColumnDef="message">
						<th mat-header-cell *matHeaderCellDef> Message </th>
						<td mat-cell *matCellDef="let message">
							<div fxLayout="row" fxLayoutAlign="start center" class="capitalize">
								{{message.message}}
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</mat-card>
		</div>

</div>