<div @transition>

	<h1 mat-dialog-title class="title">Wallet QR Code</h1>
	<p class="subtitle">Scan this code on your device</p>

	<div mat-dialog-content fxLayout="column" fxLayoutGap="5px">
		<qrcode class="code" [qrdata]="this.data.address" [width]="300" [margin]="2" [elementType]="'canvas'" [colorDark]="'#333'" [errorCorrectionLevel]="'H'" [allowEmptyString]="true"></qrcode>
	</div>

	<div mat-dialog-actions fxLayout="row" fxLayoutGap="15px">
		<button mat-flat-button color="accent" type="button" fxFlex (click)="close()">Close</button>
	</div>

</div>